@model IQueryable<CommonFiles.DTO.UserDTO>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach(CommonFiles.DTO.UserDTO element in Model)
{
    foreach(System.Reflection.PropertyInfo property in element.GetType().GetProperties())
    {
        @Html.Raw(property.GetValue(element))
        <br />
    }
}
